.Input {
  height: 52px;
  font-size: 16px;
  padding: 12px 16px;
  border: none;
  width: 100%;
  color: var(--primary-color);
  background: var(--input-bg-color);

  &::placeholder {
    color: var(--secodnary-color);
  }

  &:focus {
    border: 1px solid var(--brand-color);
    outline: none;
  }

  &__wrapper {
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &_icon {
    padding-right: 50px;
  }
}
