.Popup {
  position: relative;

  &__list {
    position: absolute;
    top: 30px;
    left: 50%;
    padding: 5px 0;
    transform: translateX(-50%);
    background-color: var(--bg-color);
    width: 100px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
    transition: background var(--transition-color-ms) linear,
                opacity var(--transition-color-ms) linear;

    &_hide {
      opacity: 0;
      pointer-events: none;
    }

    & > * {
      display: block;
      text-align: center;
      padding: 5px 0;
      cursor: pointer;
      transition: background var(--transition-color-ms) linear;

      &:hover {
        background-color: var(--neutral-color);
      }
    }
  }
}