.Product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

  &__img {
    background-color: var(--skeleton-base-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__description {
    margin-bottom: 60px;
  }

  &__price {
    margin-bottom: 50px;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button:not(:last-child) {
    margin-right: 50px;
  }
}