@use 'reset' as *;
@use 'variables' as *;
@use './theme/light' as *;
@use './theme/dark' as *;
@use './fonts/fonts' as *;

html {
  font-family: var(--font-family);
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.page-wrapper {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
