@use './reset' as *;
@use './variables' as *;
@use './fonts' as *;
@use './theme/light' as *;
@use './theme/dark' as *;


html {
  font-family: var(--font-family);
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
