.app.light {
  --brand-color: #518581;
  --brand-hover-color: #86aaa7;
  --brand-active-color: #487773;
  --bg-color: #FAFAFA;
  --primary-color: #000;
  --secondary-color: #AFADB5;
  --tertiary-color: #D9D9D9;
  --neutral-color: #fff;
  --input-bg-color: #fff;
  --skeleton-base-color: #e8e8e8;
  --skeleton-highlight-color: #f8f8f8;
  --error-color: red;
}
