.ProductsPage {
  &__container {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  &__Intro {
    margin-bottom: 50px;
  }

  &__SearchAndFilter {
    margin-bottom: 50px;
  }

  &__ProductsList {
    margin-bottom: 50px;
  }
}