.ProgressBar {
  height: 5px;
  width: 100%;
  background-color: var(--tertiary-color);
  transition: background var(--transition-color-ms) linear;


  &__progress {
    background-color: var(--brand-color);
    height: 5px;
    transition: width var(--transition-color-ms) linear,
                background var(--transition-color-ms) linear;
  }
}